<template>
  <v-row justify="center">
    <v-col cols="12" md="9" class="text-center">
      <v-btn color="primary" to="/">Illusive</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "About"
}
</script>

<style scoped>

</style>
