<template>
  <v-container v-for="todo in todos" :key="todo.id">
      <todo-card :todo="todo" @remove="$emit('remove', todo)" />
  </v-container>
</template>

<script>
import TodoCard from "@/views/home/components/TodoCard";
export default {
  name: "TodoList",
  components: {TodoCard},
  props: {
    todos: {
      type: Array,
      required: true
    },
  },
  emits: ['remove'], // передаем в Content
}
</script>

<style scoped>

</style>
