<template>
  <custom-dialog>
    <!--Подтведждение удаления-->
    <custom-toolbar color="red" message="Confirm action" />

    <!--Текст карточки-->
    <v-card-text>
      <h2 class="font-weight-light">Do you want to delete "{{ todo.title }}" ?</h2>
    </v-card-text>

    <!--Кнопки-->
    <v-card-actions class="justify-space-between">
      <v-btn color="red" @click="$emit('remove', todo)">Delete</v-btn>
      <v-btn @click="$emit('cancel', dialog)">Cancel</v-btn>
    </v-card-actions>
  </custom-dialog>
</template>

<script>
export default {
  name: "TodoDialog",
  props: {
    todo: Object,
    dialog: Boolean,
  }
}
</script>

<style scoped>

</style>
