<template>
  <v-card class="text-center card" elevation="3">
    <!--Хедер-->
    <v-img src="@/assets/post.jpg" max-height="120" cover />
    <v-card-title>{{ todo.title }}</v-card-title>

    <!--Кнопка открытия диалога-->
    <div class="text-center ma-2">
      <v-btn color="red">
        Delete
        <todo-dialog
          @remove="$emit('remove', todo)"
          :todo="todo"
          v-model="dialog"
          @cancel="dialog = false" />
      </v-btn>
    </div>
  </v-card>
</template>

<script>
import TodoDialog from "@/views/home/components/TodoDialog";
export default {
  name: "TodoCard",
  components: {TodoDialog},
  emits: ['remove'], // эмитим в TodoList
  data() {
    return {
      dialog: false,
    }
  },
  props: {
    todo: {
      type: Object
    }
  },

}
</script>

<style scoped>
.card {
  border-radius: 15px;
}
</style>
