<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="4">

      <!--Форма создания постов-->
      <v-form @submit.prevent="createTodo" class="text-center">
        <custom-text-field label="Write here" v-model="todo" :rules="[rules.required]" />
        <v-btn @click="createTodo">create</v-btn>
      </v-form>

      <!--Если нет постов-->
      <v-col class="text-center">
        <h2 class="font-weight-light text-md-h4" v-if="postsStore.todos.length === 0">You have no posts, create one!</h2>
        <h2 class="font-weight-light text-md-h4" v-else>Found: {{ postsStore.todos.length }}</h2>
      </v-col>

      <!--Массив постов-->
      <todo-list @remove="deleteTodo" :todos="postsStore.todos" />

      <!--Уведомления-->
      <custom-snackbar v-if="snackbar" color="green" v-model="snackbar" :msg="successMsg" />
      <custom-snackbar v-if="redSnackbar" color="red" v-model="redSnackbar" :msg="deleteMsg" />
    </v-col>
  </v-row>
</template>

<script setup>
import {onMounted, ref} from "vue";
import { usePostsStore } from "@/store/posts";
import TodoList from "@/views/home/components/TodoList";

const postsStore = usePostsStore();
const successMsg = 'Successfully created!';
const deleteMsg =  'Successfully deleted!';
const snackbar = ref(false);
const redSnackbar = ref(false);
const todo = ref(null);
const rules = { required: value => !!value || 'Field is required' };

function createTodo() {
  const newTodo = {
    id: Date.now(),
    title: todo.value
  };
  if (todo.value) {
    postsStore.createTodo(newTodo);
    snackbar.value = true;
    todo.value = null;
  }
}

function deleteTodo(todoItem) {
  postsStore.deleteTodo(todoItem);
  redSnackbar.value = true;
}

onMounted(async () => {
  try {
    await postsStore.fetchTodo();
  } catch (error) {
    console.error("Error fetching data:", error);
  }
});
</script>

<style scoped>

</style>
