<template>
  <v-row justify="center" no-gutters>
    <v-col class="text-center">
      <v-img height="130" src="@/assets/logo.svg" />

      <h2 class="font-weight-light text-md-h4">Welcome to wishlist</h2>
    </v-col>
  </v-row>
</template>

<script setup>
</script>
