<template>
  <v-app-bar>
    <v-app-bar-title>
       <v-btn @click="toggleTheme">Change theme</v-btn>
    </v-app-bar-title>
  </v-app-bar>
</template>

<script setup>
import { useTheme } from 'vuetify'

const theme = useTheme()

function toggleTheme () {
  theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
}
</script>
