<template>
  <v-text-field
    :rules="rules"
    :modelValue="value"
    @update:modelValue="updateValue"
    counter
    clearable
    variant="underlined"
    :label="label">
  </v-text-field>
</template>

<script>
export default {
  name: "CustomTextField",
  props: {
    rules: Object,
    value: String,
    label: String
  },
  methods: {
    updateValue(newValue) {
      this.$emit("update:value", newValue);
    }
  }
}
</script>

<style scoped>

</style>
