<template>
  <v-toolbar :color="color">
    <h2 class="font-weight-regular ma-2">{{ message }}</h2>
  </v-toolbar>
</template>

<script>
export default {
  name: "CustomToolbar",
  props: {
    color: String,
    message: String
  }
}
</script>

<style scoped>

</style>
