<template>
  <v-dialog activator="parent" width="400px">
    <v-card>
      <slot></slot>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "CustomDialog"
}
</script>

<style scoped>

</style>
