<template>
  <v-snackbar timeout="900" :color="color">
    {{ msg }}
  </v-snackbar>
</template>

<script>
export default {
  name: "CustomSnackbar",
  props: {
    msg: String,
    color: String
  }
}
</script>

<style scoped>

</style>
